@model List<WebManageFridgeMQTT.Models.Sp_GetInfoDeviceResult>
@{
    ViewBag.Title = "Device";
    Layout = "~/Views/Shared/_MapLayout.cshtml";
}

<div class="ui-widget">
    <label for="tags">Tags: </label>
    <input id="tags">
</div>
<script type="text/javascript">
    

    $(document).ready(function () {
        
    });
</script>
