@model List<WebManageFridgeMQTT.Models.GetTreeThietBiResult>
@{
    int ParentID = 0;
    if (ViewData["ParentID"] != null)
    {
        ParentID = Convert.ToInt32(ViewData["ParentID"]);
    }
}

<div id="TreeDataDevice" class="treeviewContent">
    @{
        if (Model != null)
        {
            @Html.Partial("TreeDevicePartial", Model, new ViewDataDictionary() { { "ParentID", ParentID } })
        }
    }
</div>
<script type="text/javascript">
    $('.treeviewContent').jstree();
</script>