* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #666;
    font-size: 14px;
}

:focus, a:focus {
    outline: none;
    text-decoration: none;
}

ul {
    list-style: none;
}

.insider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.button {
    border: none;
    background: #fff;
}

.toggle-button {
    position: absolute;
    z-index: 9999;
    font-size: 18px;
    background: #5b96d1;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 -1px 4px rgba(0,0,0,0.65);
}

    .toggle-button:hover {
        background: #006c90;
    }

#lblnote {
    right: 10px;
    bottom: 0;
    width: 70px;
    height: 20px;
    box-shadow: -1px -1px 2px 0px rgba(0,0,0,0.1),1px -1px 2px 0px rgba(0,0,0,0.1);
    border-top-right-radius: 4px;
    border-top-left-radius: 5px;
    -webkit-transition: bottom 0.3s ease;
    -o-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
    font-family: 'FontAwesome';
}

    #lblnote::before {
        content: "\f102";
    }

    #lblnote.toggled {
        bottom: 95px;
    }

        #lblnote.toggled::before {
            content: "\f103";
        }

#notePanel {
    box-shadow: 0px -3px 6px rgba(0,0,0,0.15);
    padding: 10px;
    right: 0;
    bottom: -95px;
    background: #fff;
    -webkit-transition: bottom 0.3s ease;
    -o-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
    position: absolute;
    z-index: 9999;
    font-size: 12px;
    overflow: hidden;
    width: 650px;
}

    #notePanel.toggled {
        bottom: 0;
    }

    #notePanel .note_item {
        height: 25px;
        vertical-align: bottom;
        line-height: 20px;
        padding: 3px 5px;
    }

        #notePanel .note_item img {
            width: 23px;
            line-height: 20px;
            vertical-align: top;
        }

    #notePanel table td span {
        display: inline-block;
        margin-left: 5px;
        height: 20px;
        line-height: 20px;
    }

#treeviewToggle {
    left: 0px;
    top: 50px;
    width: 20px;
    height: 70px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 5px;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    font-family: 'FontAwesome';
}

    #treeviewToggle::before {
        content: "\f101";
    }

    #treeviewToggle.toggled {
        left: 400px;
    }

        #treeviewToggle.toggled::before {
            content: "\f100";
        }

#treeviewPanel {
    left: -400px;
    position: fixed;
    top: 0;
    width: 400px;
    height: 100%;
    background: #fff;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    z-index: 9999;
    overflow-y: auto;
}

    #treeviewPanel.toggled {
        left: 0;
    }

.treeviewHeader h3 {
    margin: 0;
    color: #fff;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.treeviewHeader .nav-tabs > li > a {
    background: #5b96d1;
    border: none !important;
    border-radius:0px 0px 0px 0px;
}

.treeviewHeader .nav-tabs > li.active > a,
.treeviewHeader .nav-tabs > li.active > a:hover,
.treeviewHeader .nav-tabs > li.active > a:focus {
    background: #006c90;
}

.treeviewContent {
    padding: 20px 10px;
    font-size: 15px;
}

    .treeviewContent ul {
    }

li.current > span {
    font-weight: 600;
}

.treeviewSearch {
    padding: 10px;
    background: #006c90;
}

    .treeviewSearch input {
        width: 100%;
        height: 30px;
        padding: 0 10px;
    }

.contruction_list {
    padding: 0 15px;
}

    .contruction_list li {
        border-bottom: 1px solid #ddd;
    }

        .contruction_list li a {
            padding: 12px 0;
            display: block;
            color: #2d2d2d;
        }

            .contruction_list li a:hover {
                background: #eee;
                text-decoration: none;
            }

            .contruction_list li a h5 {
                display: inline-block;
                width: 50px;
                text-align: center;
                line-height: 40px;
                vertical-align: top;
                margin: 0;
                font-size: 24px;
                color: #5b96d1;
            }

            .contruction_list li a strong {
                display: inline-block;
            }

                .contruction_list li a strong span {
                    display: block;
                    font-weight: 300;
                }

.PopupTemplete {
    width: 720px;
}

.close_btn {
    font-size: 32px;
    position: absolute;
    top: 3px;
    right: 5px;
    color: #fff;
    line-height: 25px;
}

    .close_btn:hover {
        text-decoration: none;
        color: #6f6f6f;
    }

.PopupTemplete .device_img img {
    width: 100%;
}

.PopupTemplete h3 {
    margin: 0 0 8px 0px;
    font-size: 18px;
    font-weight: 600;
}

.PopupTemplete table {
    font-size: 13px;
}

    .PopupTemplete table th {
        font-size: 14px;
    }

        .PopupTemplete table th i {
            float: right;
            line-height: 19px;
            font-size: 12px;
        }

    .PopupTemplete table td {
        height: 28px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .PopupTemplete table tr + tr td {
        border-top: 1px solid #eee;
    }

.PopupTemplete .item {
    margin-bottom: 10px;
    height: 35px;
    line-height: 35px;
}

    .PopupTemplete .item label {
        margin-right: 10px;
    }

    .PopupTemplete .item button {
        float: right;
        background: #5b96d1;
        color: #fff;
        height: 35px;
        line-height: 35px;
        padding: 0 15px;
        text-align: center;
        border: 0;
    }

        .PopupTemplete .item button:hover {
            background: #006c90;
        }

.PopupTemplete .datepicker {
    height: 25px;
    line-height: 25px;
    padding: 0px 8px;
    color: #a5a5a5;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.PopupTemplete .nav-tabs {
    border: 0;
}

    .PopupTemplete .nav-tabs > li > a {
        border-color: transparent;
        margin-right: 1px;
        background-color: #006c90;
        color: #fff;
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius:0px 0px 0px 0px;
    }

    .PopupTemplete .nav > li > a:hover,
    .PopupTemplete .nav > li > a:focus,
    .PopupTemplete .nav-tabs > li.active > a,
    .PopupTemplete .nav-tabs > li.active > a:hover,
    .PopupTemplete .nav-tabs > li.active > a:focus {
        background: #fff;
        color: #5b96d1;
        border-color: transparent;
    }

.PopupTemplete .tab-content > .tab-pane {
    padding: 15px;
    overflow-y: auto;
    max-height: 400px;
}

.PopupTemplete .tab-content > .active {
    background: #fff;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
}

.leaflet-popup-content {
    margin: 5px 10px;
}

.leaflet-bottom {
    -webkit-transition: bottom 0.3s ease;
    -o-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
}

    .leaflet-bottom.toggled {
        bottom: 95px;
    }

input[name='txtSearch'] {
    position: absolute;
    top: 25px;
    width: 400px;
    left: 50%;
    border-radius: 0;
    padding: 5px 10px;
    height: 35px;
    background: #fff url(../img/magnifying_glass.png) no-repeat 370px center/20px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.pagination {
    margin: 0 50px 0 0;
}

    .pagination > li > a, .pagination > li > span {
        border: 0;
        color: #666;
    }

        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .pagination > li.active > span {
            font-weight: 600;
            color: #5b96d1;
            background: #f5f5f5;
        }

.pagedisplay {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    vertical-align: top;
}

.fancybox-inner {
    overflow: hidden !important;
}

.fancybox-skin {
    padding: 20px !important;
}

.fancybox-inner h3 {
    border-bottom: 1px solid #ddd;
    margin-top: 0;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.slider {
    width: 50%;
    margin: 15px auto 0 auto;
}

    .slider ul {
    }

    .slider img {
    }

.slick-prev,
.slick-next {
    position: absolute;
    background: transparent;
    font-size: 35px;
    left: -20px;
    top: calc(50% - 35px);
}

.slick-next {
    left: auto;
    right: -20px;
}

#tbBodyReport tr {
    cursor: pointer;
}

.fancybox-close {
    top: 0;
    right: 0;
    background: none;
    font-size: 25px;
    text-align: center;
    color: #666;
}

    .fancybox-close:hover,
    .fancybox-close:focus {
        text-decoration: none;
    }

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.2);
}

.ui-datepicker.ui-widget {
    z-index: 9999;
    display: none;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
    border-radius: 0;
    padding: 8px;
    width: 19em;
}

    .ui-datepicker.ui-widget .ui-datepicker-header {
        background: 0 0;
        border: 0;
    }

        .ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-next, .ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-prev {
            background: 0 0;
            background-repeat: no-repeat;
            background-size: 75% 75%;
            background-position: center center;
            border: 0;
            cursor: pointer;
            width: 20px;
            height: 30px;
            -moz-opacity: .5;
            -khtml-opacity: .5;
            -webkit-opacity: .5;
            opacity: .5;
            -ms-filter: alpha(opacity=50);
            filter: alpha(opacity=50);
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            -ms-transition: all .3s;
            transition: all .3s;
        }

            .ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-next:hover, .ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-prev:hover {
                -moz-opacity: 1;
                -khtml-opacity: 1;
                -webkit-opacity: 1;
                opacity: 1;
                -ms-filter: alpha(opacity=100);
                filter: alpha(opacity=100);
            }

        .ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-prev {
            float: left;
            left: 0;
            right: auto;
            top: 4px;
            background-image: url(../img/date_pre.png);
        }

        .ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-next {
            float: right;
            right: 0;
            top: 4px;
            left: auto;
            background-image: url(../img/date_next.png);
        }

        .ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-title {
            color: #2a2a2a;
            padding: 5px 3px;
            font-size: 17px;
            line-height: 20px;
            font-weight: 700;
            text-align: center;
        }

        .ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-next span, .ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-prev span {
            display: none;
        }

    .ui-datepicker.ui-widget .ui-datepicker-calendar {
        border: 0;
        margin-bottom: 5px;
        width: 100%;
    }

        .ui-datepicker.ui-widget .ui-datepicker-calendar th {
            color: #999;
            font-size: 13px;
            line-height: 25px;
            font-weight: 700;
            padding-bottom: 10px;
            text-align: center;
        }

            .ui-datepicker.ui-widget .ui-datepicker-calendar th span {
                cursor: help;
                border-bottom: 1px dotted #777;
            }

        .ui-datepicker.ui-widget .ui-datepicker-calendar td {
            padding: 0;
            border: 0;
            height: 27px;
            overflow: hidden;
        }

        .ui-datepicker.ui-widget .ui-datepicker-calendar .ui-state-default {
            cursor: pointer;
            display: block;
            outline: 0;
            border: 0;
            margin: 0;
            width: 100%;
            padding: 5px;
            color: #666;
            font-size: 12px;
            line-height: 17px;
            text-align: right;
            background: #f5f5f5;
        }

        .ui-datepicker.ui-widget .ui-datepicker-calendar td.ui-state-disabled {
            padding: 0;
            border: 0;
        }

        .ui-datepicker.ui-widget .ui-datepicker-calendar .ui-state-default:hover,
        .ui-datepicker.ui-widget .ui-datepicker-calendar .ui-datepicker-today .ui-state-default {
            background: #5b96d1;
            color: #fff;
        }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    font-weight: bold;
    color: #fff !important;
    background: #006c90 !important;
}

#datepicker {
    background-color: #fff;
    border-radius: 0;
    font-size: 12px;
    background-size: 20px;
    width: 100%;
    border-radius: 0;
    border: 1px solid #C7C7C7;
    padding-left: 15px;
    height: 27px;
}

@media (max-width: 991px) {
    .PopupTemplete {
        width: 80%;
    }

    .nav-tabs > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 767px) {
    input[name='txtSearch'] {
        top: 15px;
        width: 90%;
        height: 40px;
    }

    .body_overlay {
        position: fixed;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        height: 100%;
        width: 100%;
        transition: all 0.3s ease;
        background: rgba(0,0,0,0.4);
    }

        .body_overlay.toggled {
            opacity: 1;
            visibility: visible;
            z-index: 9998;
        }
}

@media (max-width: 479px) {
    #treeviewPanel {
        width: 340px;
        left: -340px;
    }

    #treeviewToggle.toggled {
        left: 340px;
    }

    #notePanel {
        width: 100%;
        bottom: -145px;
    }

        #notePanel .note_item {
            width: 50%;
        }

    #lblnote.toggled {
        bottom: 145px;
    }

    .leaflet-bottom.toggled {
        bottom: 145px;
    }

    .PopupTemplete {
        width: 85%;
    }

        .PopupTemplete .device_img,
        .PopupTemplete .info {
            width: 100%;
        }

        .PopupTemplete .device_img {
            margin-bottom: 15px;
        }

        .PopupTemplete .item {
            position: relative;
            height: auto;
        }

            .PopupTemplete .item label {
                margin-right: 0;
                display: block;
            }

        .PopupTemplete .datepicker {
            margin: 0;
            width: 49%;
        }

        .PopupTemplete .item button {
            position: absolute;
            top: 0;
            right: 0;
        }

    .pagination {
        margin: 0 0 10px 0;
    }

    .slider {
        width: 100%;
    }

    .nav-tabs > li {
        margin-bottom: 0;
        width: 100%;
    }

        .nav-tabs > li > a {
            padding-top: 5px;
            padding-bottom: 5px;
        }

    .close_btn {
        z-index: 1;
        top: -6px;
        right: -2px;
    }
}

/*Chỉnh sủa popup Map*/
.leaflet-marker-iconlabel {
    background: #FFFFFF;
}

.leaflet-marker-icon-wrapper {
    z-index: 0 !important;
}

.leaflet-popup-content-wrapper {
    padding: 15px 15px 15px 17px !important;
    background: #5B96D1 !important;
    min-width: 756px !important;
    max-height: 560px;
    color: none !important;
}

.leaflet-popup-content {
    margin: 0px !important;
    padding: 0px !important;
}


.leaflet-popup-close-button {
    font-size: 32px;
    position: absolute;
    top: 3px;
    right: 5px;
    color: #6f6f6f;
    line-height: 25px;
}

    .leaflet-popup-close-button:hover {
        text-decoration: none;
        color: #6f6f6f;
    }

.leaflet-popup-tip {
    background: #5B96D1 !important;
}

.magin-padding .row {
    margin-left: 0px;
    margin-right: 0px;
}

.tab-pane .header {
    background-color: #006c90;
    position: relative;
    height: 42px;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

    .tab-pane .header > div {
        display: inline-block;
    }

.color-white {
    color: white;
}

.tab-pane .header .route-number {
    font-size: 21px;
}

.tab-pane .header .route-name {
    font-size: 21px;
    width: 75%;
}

.tab-pane .header a i {
    color: white;
    font-size: 26px;
    padding: 8px;
}

.leaflet-popup-content-wrapper{
    border-radius:0px !important;
}
.align-right{
    text-align:right;
}