<div class="ctr_combobox input-group">
    <input type="text" class="form-control display-treeview" readonly="">
    <div class="input-group-btn dropdown dropdown-treeview">
        <input id="RegionSale" name="RegionSale" type="hidden" value="">
        <input id="Province" name="Province" type="hidden" value="">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu" style="width: 300px; max-height: 350px; overflow: auto">
            <div class="treeview zone-treeview"></div>
        </div>
    </div>
</div>