<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

Xin Chào {LevelUp} {FullName},
<br/>
<br />
   Lịch làm việc các ngày bên dưới của bạn đã được {LevelDown} {SendName}  gởi lên hệ thống:   
<br />
  {record}
<br/>
Vui lòng bấm vào <a href="{WebUrl}">Đường dẫn</a> để xem lịch.

<br />
Chúc Bạn một ngày làm việc thành công. 
<br />
<br />
Trân trọng,<br />
Hammer Supporting Service

<!--<br><br><br>

Dear {FullName},
<br><br>
Your account login on ERoute system has been created.<br>
Please click on the following link and change your password before using the service.
<br><br>{WebUrl}<br><br>

<table>
    <tr>
        <td>Username:</td>
        <td>{Account}</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>{Password}</td>
    </tr>
    <tr>
        <td>Token:</td>
        <td>{TokenConfirmation}</td>
    </tr>
</table>
<br>
Sincerely,
<br>
Eroute Supporting Service-->


</body>
</html>