@using System.Web
@{
    List<pp_GetListMenuResult> listMenu = CacheDataHelper.CacheListMenu(); 
    }
<div class="nav-box">
  @{
      if (listMenu != null)
      {
        @Html.Partial("~/Views/Shared/Control/ItemMenuPartial.cshtml", listMenu, new ViewDataDictionary() { {"ParentID", 0} })
      }
      }
</div>
<div class="color-box">
    <ul>
        <li class="theme-option">
            <a href="javascript:void(0)">
                <i class="icon-etool-theme"></i>
                <span class="tooltip">@Utility.Phrase("OptionColor")
							<span class="circle circle-red" theme="red"></span>
                    <span class="circle circle-orange" theme="orange"></span>
                    <span class="circle circle-cyan" theme="cyan"></span>
                    <span class="circle circle-blue" theme="blue"></span>
                    <span class="circle circle-magenta" theme="magenta"></span>
                </span>
            </a>
        </li>
    </ul>
</div>
