<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.3">
    <title>Galleria Azur Theme</title>
    <style>
        /* This rule is read by Galleria to define the gallery height: */
        .galleria
        {
            height: 430px;
            width: 600px;
        }
    </style>
    <!-- load jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <!-- load Galleria -->
    <script src="http://nhadatvideo.vn/azur/galleria/galleria-1.3.3.js"></script>
    <script src="http://nhadatvideo.vn/azur/galleria/themes/azur/galleria.azur.min.js"></script>
</head>
<body>
    <div class="content boostrap">
        <!-- Adding gallery images. We use resized thumbnails here for better performance, but it’s not necessary -->
        <!-- Adding gallery images. We use resized thumbnails here for better performance, but it’s not necessary -->
        <div class="galleria">
            <a href="http://farm8.staticflickr.com/7195/13262336205_abd510d28b_o.jpg">
                <img src="http://farm8.static.flickr.com/7195/13262336205_62d86ff508_t.jpg" data-big="http://farm8.staticflickr.com/7195/13262336205_abd510d28b_o.jpg"
                    data-title="Bán đất  Long Biên, Khu đấu giá S1 tổ 11 Việt Hưng, Chính chủ, Giá 4 Tỷ, Chị Hiền, ĐT 0904298577"
                    data-description="" />
            </a><a href="http://farm4.staticflickr.com/3804/13262682114_c7f3954619_o.jpg">
                <img src="http://farm4.static.flickr.com/3804/13262682114_de0fa1a649_t.jpg" data-big="http://farm4.staticflickr.com/3804/13262682114_c7f3954619_o.jpg"
                    data-title="Bán đất  Long Biên, Khu đấu giá S1 tổ 11 Việt Hưng, Chính chủ, Giá 4 Tỷ, Chị Hiền, ĐT 0904298577"
                    data-description="" />
            </a><a href="http://farm4.staticflickr.com/3788/13262681634_d7bb377b27_o.jpg">
                <img src="http://farm4.static.flickr.com/3788/13262681634_0dee10971c_t.jpg" data-big="http://farm4.staticflickr.com/3788/13262681634_d7bb377b27_o.jpg"
                    data-title="Bán đất  Long Biên, Khu đấu giá S1 tổ 11 Việt Hưng, Chính chủ, Giá 4 Tỷ, Chị Hiền, ĐT 0904298577"
                    data-description="">
            </a><a href="http://farm3.staticflickr.com/2862/13262334315_4b2a8910b7_o.jpg">
                <img src="http://farm3.static.flickr.com/2862/13262334315_235cabaf1c_t.jpg" data-big="http://farm3.staticflickr.com/2862/13262334315_4b2a8910b7_o.jpg"
                    data-title="Bán đất  Long Biên, Khu đấu giá S1 tổ 11 Việt Hưng, Chính chủ, Giá 4 Tỷ, Chị Hiền, ĐT 0904298577"
                    data-description="">
            </a><a href="http://farm3.staticflickr.com/2890/13262333925_bf4b553106_o.jpg">
                <img src="http://farm3.static.flickr.com/2890/13262333925_8ffbbf6a67_t.jpg" data-big="http://farm3.staticflickr.com/2890/13262333925_bf4b553106_o.jpg"
                    data-title="Bán đất  Long Biên, Khu đấu giá S1 tổ 11 Việt Hưng, Chính chủ, Giá 4 Tỷ, Chị Hiền, ĐT 0904298577"
                    data-description="">
            </a><a href="http://farm8.staticflickr.com/7336/13262679904_8e74e6d303_o.jpg">
                <img src="http://farm8.static.flickr.com/7336/13262679904_2685a936f6_t.jpg" data-big="http://farm8.staticflickr.com/7336/13262679904_8e74e6d303_o.jpg"
                    data-title="Bán đất  Long Biên, Khu đấu giá S1 tổ 11 Việt Hưng, Chính chủ, Giá 4 Tỷ, Chị Hiền, ĐT 0904298577"
                    data-description="">
            </a><a href="http://farm8.staticflickr.com/7220/13262469433_e457092107_o.jpg">
                <img src="http://farm8.static.flickr.com/7220/13262469433_7e23570415_t.jpg" data-big="http://farm8.staticflickr.com/7220/13262469433_e457092107_o.jpg"
                    data-title="Bán đất  Long Biên, Khu đấu giá S1 tổ 11 Việt Hưng, Chính chủ, Giá 4 Tỷ, Chị Hiền, ĐT 0904298577"
                    data-description="">
            </a><a href="http://farm4.staticflickr.com/3806/13262678834_3c37c1272e_o.jpg">
                <img src="http://farm4.static.flickr.com/3806/13262678834_f00b147100_t.jpg" data-big="http://farm4.staticflickr.com/3806/13262678834_3c37c1272e_o.jpg"
                    data-title="Bán đất  Long Biên, Khu đấu giá S1 tổ 11 Việt Hưng, Chính chủ, Giá 4 Tỷ, Chị Hiền, ĐT 0904298577"
                    data-description="">
            </a><a href="http://farm8.staticflickr.com/7113/13262330955_9b861b7d75_o.jpg">
                <img src="http://farm8.static.flickr.com/7113/13262330955_988f177cee_t.jpg" data-big="http://farm8.staticflickr.com/7113/13262330955_9b861b7d75_o.jpg"
                    data-title="Bán đất  Long Biên, Khu đấu giá S1 tổ 11 Việt Hưng, Chính chủ, Giá 4 Tỷ, Chị Hiền, ĐT 0904298577"
                    data-description="">
            </a>
        </div>
    </div>
    <script>
        Galleria.run('.galleria', {
            imagePosition: 'center',
            responsive: true,
            imageCrop: false,
            fullscreenCrop: false
        });

        Galleria.ready(function () {
            var gallery = this;
            this.bind('image', function (e) {
                $(e.imageTarget).unbind('click').click(function () {
                    gallery.toggleFullscreen();
                });
            });
        });
    </script>
</body>
</html>
