@model List<pp_ReportVisitResult>
@using DevExpress.Web.Mvc.UI;
@using DevExpress.Web.Mvc;
@using System.Web.UI.WebControls;
@Html.DevExpress().PivotGrid(
    settings =>
    {
        settings.Name = "ReportVisit";
        settings.CallbackRouteValues = new { Controller = "Tracking", Action = "ReportVisitPartial" };
        //settings.OptionsView.ShowHorizontalScrollBar = true;
        settings.OptionsCustomization.AllowDrag = false;
        settings.OptionsCustomization.AllowDrag = false;
        settings.OptionsCustomization.AllowExpand = true;
        //settings.OptionsView.ColumnTotalsLocation = PivotTotalsLocation.Far;

        settings.OptionsView.ShowColumnGrandTotalHeader = false;
        settings.OptionsView.ShowColumnGrandTotals = false;
        settings.OptionsView.ShowColumnTotals = false;
        settings.OptionsView.ShowContextMenus = true;
        settings.OptionsView.ShowCustomTotalsForSingleValues = false;
        settings.OptionsView.ShowFilterHeaders = false;
        settings.OptionsView.ShowFilterSeparatorBar = false;
        settings.OptionsView.ShowGrandTotalsForSingleValues = false;
        settings.OptionsView.ShowRowGrandTotalHeader = false;
        settings.OptionsView.ShowRowGrandTotals = false;
        settings.OptionsView.ShowRowTotals = false;
        settings.OptionsView.ShowTotalsForSingleValues = false;
        settings.OptionsView.ShowDataHeaders = false;

        settings.OptionsPager.Position = PagerPosition.TopAndBottom;
        settings.OptionsPager.PagerAlign = DevExpress.Web.ASPxPivotGrid.PagerAlign.Right;
        settings.OptionsPager.ShowDisabledButtons = true;
        settings.OptionsPager.ShowNumericButtons = true;
        settings.OptionsPager.ShowSeparators = false;
        settings.OptionsPager.Summary.Visible = false;
        settings.OptionsPager.PageSizeItemSettings.Visible = true;
        settings.OptionsPager.PageSizeItemSettings.Position = PagerPageSizePosition.Left;

        settings.OptionsView.ShowHorizontalScrollBar = true;


        settings.Groups.Add("RSMName - RegionName - ASMName - AreaName - ProvinceName - DistributorName - SaleSupID - RouteID - SalesmanID");


        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    field.AreaIndex = 0;

        //    field.FieldName = "RegionID";
        //    field.Caption = Utility.Phrase("RegionID");
        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //});

        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            //field.AreaIndex = 1;
            field.FieldName = "RegionName";
            field.Caption = Utility.Phrase("RegionName");
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });

        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    field.AreaIndex = 2;

        //    field.FieldName = "RSMID";
        //    field.Caption = Utility.Phrase("RSMID");
        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //});

        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            //field.AreaIndex = 3;
            field.FieldName = "RSMName";
            field.Caption = Utility.Phrase("RSMName");
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.Visible = false;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });

        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    field.AreaIndex = 4;

        //    field.FieldName = "AreaID";
        //    field.Caption = Utility.Phrase("AreaID");
        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //});

        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            // field.AreaIndex = 5;
            field.FieldName = "AreaName";
            field.Caption = Utility.Phrase("AreaName");
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.Visible = false;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });
        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    field.AreaIndex = 6;

        //    field.FieldName = "ASMID";
        //    field.Caption = Utility.Phrase("ASMID");
        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //});

        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    //field.AreaIndex = 7;

        //    field.FieldName = "ASMName";
        //    field.Caption = Utility.Phrase("ASMName");
        //    field.RunningTotal = false;
        //    field.Visible = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //    field.HeaderStyle.Wrap = DefaultBoolean.True;
        //});

        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    field.AreaIndex = 8;

        //    field.FieldName = "ProvinceID";
        //    field.Caption = Utility.Phrase("ProvinceID");
        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //});

        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            //field.AreaIndex = 9;

            field.FieldName = "ProvinceName";
            field.Caption = Utility.Phrase("ProvinceName");
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.Visible = false;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });

        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    //field.AreaIndex = 10;

        //    field.FieldName = "DistributorCode";
        //    field.Caption = Utility.Phrase("DistributorCode");
        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //});

        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            //field.AreaIndex = 11;

            field.FieldName = "DistributorName";
            field.Caption = Utility.Phrase("DistributorName");
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });

        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    //field.AreaIndex = 12;

        //    field.FieldName = "SaleSupID";
        //    field.Caption = Utility.Phrase("SaleSupID");
        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //});

        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    //field.AreaIndex = 13;

        //    field.FieldName = "SaleSupName";
        //    field.Caption = Utility.Phrase("SaleSupName");
        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //    field.HeaderStyle.Wrap = DefaultBoolean.True;
        //});

        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            //field.AreaIndex = 14;

            field.FieldName = "RouteID";
            field.Caption = Utility.Phrase("RouteID");
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
            field.Visible = false;
        });

        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    //field.AreaIndex = 15;

        //    field.FieldName = "RouteName";
        //    field.Caption = Utility.Phrase("RouteName");
        //    field.RunningTotal = false;
        //    field.Visible = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //    field.HeaderStyle.Wrap = DefaultBoolean.True;
        //});

        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            //field.AreaIndex = 16;

            field.FieldName = "SalesmanID";
            field.Caption = Utility.Phrase("SalesmanID");
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
            field.Visible = false;
        });

        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            //field.AreaIndex = 17;

            field.FieldName = "SalesmanName";
            field.Caption = Utility.Phrase("SalesmanName");
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });

        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 18;
            field.ValueFormat.Format = Utility.info.DateTimeFormat;
            field.ValueFormat.FormatType = FormatType.DateTime;
            field.ValueFormat.FormatString = Utility.info.DateTimeFormat.ShortDatePattern;

            field.FieldName = "VisitDate";
            field.Caption = Utility.Phrase("VisitDate");
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
        });

        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 19;
            field.FieldName = "strIsMCP";
            field.Caption = Utility.Phrase("strIsMCP");

            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });

        //DATA AREA
        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    field.AreaIndex = 20;
        //    field.FieldName = "VisitOrder";
        //    field.Caption = Utility.Phrase("VisitOrder");

        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //    field.HeaderStyle.Wrap = DefaultBoolean.True;
        //});
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 21;
            field.FieldName = "VisitOrderReal";
            field.Caption = Utility.Phrase("VisitOrderReal");

            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
            field.ValueStyle.CssClass = "vsActual";
        });
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 22;
            field.FieldName = "OutletID";
            field.Caption = Utility.Phrase("OutletID");

            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 23;
            field.FieldName = "OutletName";
            field.Caption = Utility.Phrase("OutletName");

            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 24;
            field.FieldName = "Address";
            field.Caption = Utility.Phrase("Address");

            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 25;
            field.FieldName = "Mobile";
            field.Caption = Utility.Phrase("Mobile");

            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 26;
            field.FieldName = "StartTime";
            field.Caption = Utility.Phrase("StartTime");

            field.ValueFormat.Format = Utility.info.DateTimeFormat;
            field.ValueFormat.FormatType = FormatType.DateTime;
            field.ValueFormat.FormatString = Utility.info.DateTimeFormat.ShortTimePattern;
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 27;
            field.FieldName = "EndTime";
            field.Caption = Utility.Phrase("EndTime");

            field.ValueFormat.Format = Utility.info.DateTimeFormat;
            field.ValueFormat.FormatType = FormatType.DateTime;
            field.ValueFormat.FormatString = Utility.info.DateTimeFormat.ShortTimePattern;
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 28;
            field.FieldName = "strTimeSpanVisit";
            field.Caption = Utility.Phrase("strTimeSpanVisit");

            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });
        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    field.AreaIndex = 29;
        //    field.FieldName = "strTimeSpanMove";
        //    field.Caption = Utility.Phrase("strTimeSpanMove");

        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //    field.HeaderStyle.Wrap = DefaultBoolean.True;
        //});
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 30;
            field.FieldName = "Distance";
            field.Caption = Utility.Phrase("Distance") + " (m)";

            field.CellStyle.HorizontalAlign = HorizontalAlign.Right;
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.ValueFormat.FormatType = FormatType.Numeric;
            field.ValueFormat.FormatString = "####0";
            field.HeaderStyle.Wrap = DefaultBoolean.True;
            field.ValueStyle.CssClass = "distance";
        });
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 31;
            field.FieldName = "Lat";
            field.Caption = Utility.Phrase("Lat");

            field.CellStyle.HorizontalAlign = HorizontalAlign.Right;
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 32;
            field.FieldName = "Long";
            field.Caption = Utility.Phrase("Long");

            field.CellStyle.HorizontalAlign = HorizontalAlign.Right;
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });



        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.DataArea;
            field.AreaIndex = 33;
            field.FieldName = "HasOrder";
            field.Caption = Utility.Phrase("HasOrder");

            field.CellFormat.FormatType = FormatType.Custom;
            field.CellFormat.FormatString = "###,##0.##";
            field.SummaryType = PivotSummaryType.Sum;
        });
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.DataArea;
            field.AreaIndex = 34;
            field.FieldName = "TotalSKU";
            field.Caption = Utility.Phrase("TotalSKU");
            field.Visible = false;
            field.CellFormat.FormatType = FormatType.Custom;
            field.CellFormat.FormatString = "###,##0.##";
            field.SummaryType = PivotSummaryType.Sum;
        });
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.DataArea;
            field.AreaIndex = 35;
            field.FieldName = "DropSize";
            field.Caption = Utility.Phrase("DropSize");

            field.CellFormat.FormatType = FormatType.Custom;
            field.CellFormat.FormatString = "###,##0.##";
            field.SummaryType = PivotSummaryType.Sum;
        });
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.DataArea;
            field.AreaIndex = 36;
            field.FieldName = "TotalAmount";
            field.Caption = Utility.Phrase("TotalAmount");

            field.CellFormat.FormatType = FormatType.Custom;
            field.CellFormat.FormatString = "###,##0.##";
            field.SummaryType = PivotSummaryType.Sum;
        });

        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 37;
            field.FieldName = "Reason";
            field.Caption = Utility.Phrase("Reason");

            field.CellStyle.HorizontalAlign = HorizontalAlign.Right;
            field.RunningTotal = false;
            field.TotalsVisibility = PivotTotalsVisibility.None;
            field.HeaderStyle.Wrap = DefaultBoolean.True;
        });

        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    field.AreaIndex = 38;
        //    field.FieldName = "GPSType";
        //    field.Caption = Utility.Phrase("GPSType");

        //    field.CellStyle.HorizontalAlign = HorizontalAlign.Left;
        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //    field.HeaderStyle.Wrap = DefaultBoolean.True;
        //});

        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    field.AreaIndex = 39;
        //    field.FieldName = "IsEnableAirPlaneMode";
        //    field.Caption = Utility.Phrase("IsEnableAirPlaneMode");

        //    field.CellStyle.HorizontalAlign = HorizontalAlign.Left;
        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //    field.HeaderStyle.Wrap = DefaultBoolean.True;
        //});

        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    field.AreaIndex = 40;
        //    field.FieldName = "IsEnableGPSMode";
        //    field.Caption = Utility.Phrase("IsEnableGPSMode");

        //    field.CellStyle.HorizontalAlign = HorizontalAlign.Left;
        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //    field.HeaderStyle.Wrap = DefaultBoolean.True;
        //});

        //settings.Fields.Add(field =>
        //{
        //    field.Area = PivotArea.RowArea;
        //    field.AreaIndex = 41;
        //    field.FieldName = "IsEnableNetworkMode";
        //    field.Caption = Utility.Phrase("IsEnableNetworkMode");

        //    field.CellStyle.HorizontalAlign = HorizontalAlign.Left;
        //    field.RunningTotal = false;
        //    field.TotalsVisibility = PivotTotalsVisibility.None;
        //    field.HeaderStyle.Wrap = DefaultBoolean.True;
        //});
        settings.Fields.Add(field =>
        {
            field.Area = PivotArea.RowArea;
            field.AreaIndex = 42;
            field.FieldName = "ImageFile";
            field.Caption = "ImageFile"; //Utility.Phrase("VisitImageFile");

            //field.CellStyle.HorizontalAlign = HorizontalAlign.Left;
            //field.RunningTotal = false;
            //field.TotalsVisibility = PivotTotalsVisibility.None;
            //field.UnboundType = DevExpress.Data.UnboundColumnType.String;
        });
        settings.EncodeHtml = false;
        settings.FieldValueDisplayText = (sender, e) =>
        {
            MVCxPivotGrid data = ((MVCxPivotGrid)sender);
            if (object.ReferenceEquals(e.Field, data.Fields["ImageFile"]))
            {
                if (Utility.StringParse(e.Value) != "")
                {
                    string src = Url.Content(Constant.SalesOrdersImageFolder + e.Value);
                    string a = "<a href=\"" + src + "\"><img src=\"" + src + "\" style=\"max-width: 50px; padding-right: 5px; padding-top: 5px;\" alt=\"\"  rel=\"zoom\" class=\"smoothZoom\" /></a>";
                    e.DisplayText = a;// e.DisplayText.Insert(0, a);
                }
            }
        };

        //settings.CustomUnboundFieldData = (sender, e) =>
        //{
        //    MVCxPivotGrid data = ((MVCxPivotGrid)sender);
        //    if (object.ReferenceEquals(e.Field, data.Fields["ImageFile"]))
        //    {
        //        if (!string.IsNullOrEmpty((string)e.GetListSourceColumnValue("ImageFile")))
        //        {
        //            string src = Url.Content(Constant.SalesOrdersImageFolder
        //                            + ((DateTime)e.GetListSourceColumnValue("VisitDate")).ToString(Constant.imageDateFormat)
        //                            + "/" + e.GetListSourceColumnValue("ImageFile"));
        //            string a = "<a href=\"" + src + "\"><img src=\"" + src + "\" style=\"max-width: 50px; padding-right: 5px; padding-top: 5px;\" alt=\"\"  rel=\"zoom\" class=\"smoothZoom\" /></a>";
        //            e.Value = a;
        //        }
        //    }
        //};

        settings.SetCellTemplateContent(c =>
        {
            if (c.DataField != null
                && (
                    c.Item.RowValueType == PivotGridValueType.Total
                    || c.Item.RowValueType == PivotGridValueType.CustomTotal
                    || c.Item.RowValueType == PivotGridValueType.GrandTotal
                    )
                )

            // && c.DataField.FieldName == "Percents"
            // && c.DataField.Caption == "Percents"
            {
                ViewContext.Writer.Write(
                    "<span style=\"font-weight:bold; \" >" + c.Item.Text + "</span>"
                );
            }
            else
            {
                ViewContext.Writer.Write(c.Text);
            }
        });



        //settings.OptionsPager.RowsPerPage = 0;
    }).Bind(Model).GetHtml()
