.b-m-mpanel {
	  background: #F0F0F0 url(/Content/img/menu_bg.gif) left repeat-y;
    border: 1px solid #718BB7;
    padding: 2px 0;
    position: absolute;
    z-index: 99997;
    left: 0px;
    top: 0px;
    cursor: pointer;
    font: Arial,sans-serif;
    font-size: 11px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
    padding: 4px 0;
}
.b-m-split {
	height: 6px;
	background: url(/Content/img/m_splitLine.gif) center repeat-x;
	font-size: 0px;
	margin: 0 2px;
}
.b-m-splitjapan {
	height: 6px;
	background: url(/Content/img/m_splitLine.gif) center repeat-x;
	font-size: 0px;
	margin: 0 2px;
}
.b-m-item, .b-m-idisable
{
    padding: 4px 2px;
    margin: 0 2px 0 3px;
    cursor: normal;
    line-height:100%;
}
.b-m-idisable
{
    color:#808080;
}
.b-m-ibody, .b-m-arrow {
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.b-m-arrow {
	background: url(/Content/img/m_arrow.gif) right  no-repeat;	
}
.b-m-idisable .b-m-arrow
{
    background:none;
}
.b-m-item img, .b-m-ifocus img, .b-m-idisable img {
	margin-right: 8px;
}
.b-m-ifocus {
	background: url(/Content/img/m_item.gif) repeat-x bottom;
	border: 1px solid #AACCF6;
	padding: 3px 1px ;
    margin: 0 2px 0 3px;
    cursor: normal;
    line-height:100%;
}
.b-m-idisable img {
	visibility:hidden;
	width
}