DROP VIEW [CookDataThietBi]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CookDataThietBi]
AS
SELECT        LatitudeHienTai, LongtitudeHienTai
FROM            dbo.ThietBi


GO
